
	<!--Get The header file -->
<%- include ('header'); %>
	
	<section class="main">
		<div class="carousel-section owl-carousel owl-theme ">
				<!--This will conssist of some carousels to be displayed with animations -->
				 <!---New applicants to be here with small different cards  use for each-->
                                <%for(let i=0 ; i<carousel.length;++i){ %>
                                        <div class="carousel-card">
                                                <div class="img-container">
                                                <img src="../Images/ApplicantImages/man<%= carousel[i].id %>.jpg" alt="A bold man standing">
                                        </div>
                                        <div  class="info">
                                        <h1><%= carousel[i].name %></h1>
                                        <h3><%= carousel[i].title %></h3>
                                        <p><%= carousel[i].bio %></p>
                                        </div>
                                        </div>

                                <%}%>
				 <div class="owl-nav">
        				<div class="owl-prev">prev</div>
    	 				<div class="owl-next">next</div>
    				</div>

		</div>

		<div class="userPanel">
			<h1><%= msg %></h1>
			<h2>Lee Parker</h2>		<!--This Section will be used to display user information-->
			<div class="new-applicants-container">
			</div>

		<div class="applicants-view">
			<h1>New Arrivals</h1>		<!--This Section will be use to display all the applicants information-->

		</div>
	</section>
<%- include('footer'); %>
