
	<!--Get The header file -->
<%- include ('header'); %>
	
	<section class="main">
		<div class="userPanel">
			<h1><%= msg %></h1>
			<h2><%= usr %></h2>		<!--This Section will be used to display user information-->
		</div>
		<div class="recent">
			<h3>Recent Search</h3>
		</div>
		<div class="applicants-view">
			<h1>New Arrivals</h1>		<!--This Section will be use to display all the applicants information-->
			<div class="applicants-section __flex">
				<% for(let i=0 ; i<applicant.length/2 ; ++i){ %>
					<div class="applicant-card __flex">
  						<div class="img-holder __flex">
    							<img src="https://i.pinimg.com/736x/b6/f3/48/b6f3484bfe1973a74b16101837d38d7b.jpg" alt="">
  						</div>
 						 <div class="info">
    							<h1><%= applicant[i].name %></h1>
    							<h3><%= applicant[i].title %></h3>
    							<p class='bio'><%= applicant[i].bio %></p>
  						</div>
					</div>  
    					
				<%}%>
			</div>
		</div>
	</section>
<%- include('footer'); %>
